.choicebtn{
    line-height: 30px;
    width: 150px;
}



#gamediv{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 5px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: black;
    text-align: center;
}

#playertext{
    color:aqua
}

#computertext{
    color:aquamarine;
}

#resulttext{
    color:blue;
}
